.header__langs {
  display: grid;
  grid-template-columns: 30px 29px;
  gap: 18px;
  justify-content: space-between;
  margin-bottom: 4px;
}

@media screen and (max-width: 767px) {
  .header__langs {
    grid-template-columns: repeat(2, 22px);
    width: auto;
    margin-bottom: 8px;
  }
}


