.header__langs {
    display: grid;
    grid-template-columns: 30px 29px;
    gap: 18px;
    justify-content: space-between;
    width: calc(29px + 30px + 18px);
    height: 28px;
    margin-bottom: 4px;
  }
  
  @media screen and (max-width: 767px) {
    .header__langs {
      grid-template-columns: repeat(2, 22px);
      height: 22px;
      width: auto;
    }
  }
  