
.place__website-heading {
    max-width: 456px;
    max-height: 12px;
    margin: 0 auto 12px 0;
  
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 100% 12px*/
  
    letter-spacing: 2px;
  
    color: #aaaaaa;
  }